<div class="container">
  <h1 class="text-center">Track your favorite project</h1>
</div>
<div class="container">
  <ul>
    <li><a href="/project/yexinumbrella">反向傘縮小再進化：迎戰雨季、征服艷陽，優雅俐落每一天！</a></li>
    <li><a href="/project/lessdosoap">LESSDO 世界第一台家用自皂機，自己的肥皂自己做！</a></li>
  </ul>
</div>