<div class="container my-5">
  <h1>Zectrack 和 DRIP 隱私權政策</h1>
  <p>Zectrack 和 DRIP 開發的 <a href="https://chrome.google.com/webstore/detail/ncgkmddibppebiomiicdfehogjkdegdk">DRIP</a>
    Google 應用程式，提供追蹤、分析和統計群眾集資專案數據的服務。當您開始使用 DRIP 服務，即表示您信賴我們對您收集資訊的處理方式。</p>
  <h3>資訊的收集和使用</h3>
  <p>
    請放心，我們不收集任何個人資訊，我們只收集您正在瀏覽的網頁部分內容，我們收集資訊是為了向所有使用者提供更優質的服務，這些資訊可協助我們判斷基本設定，例如：透過您正在瀏覽的群眾集資專案頁面，我們收集該專案頁面的部分資內容來比對我們資料庫數據，以提供您追蹤、分析和統計群眾集資專案數據的服務。
  </p>
  <hr>
  <h1>Privacy Policy of Zectrack and DRIP</h1>
  <p>Zectrack and DRIP operates the <a
      href="https://chrome.google.com/webstore/detail/ncgkmddibppebiomiicdfehogjkdegdk">DRIP</a> Google Chrome
    Extension, which provides services for tracking, analyzing and statistics of crowdfunding project data. If you
    choose to use our Service, then you agree to the collection and use of information in relation with this
    policy.</p>
  <h3>Information Collection and Use</h3>
  <p>Please be assured that we do not collect any personal information, we only collect part of the content of the
    webpage you are browsing. We collect information to provide better services to all users. This information can help
    us determine basic settings, such as: when you browse the crowdfunding project page, we collect part of the content
    of the project page to compare our database data to provide you with services to track, analyze and statistics
    crowdfunding project data.</p>
  <p></p>
</div>