@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC|Rajdhani:600&display=swap');

body {
  font-family: 'Noto Sans TC', sans-serif;
}

#logo {
  font-family: 'Rajdhani', sans-serif;
  font-size: 2em;
}

/* not active */
.nav-pills .nav-item .nav-link:not(.active) {
  background-color: white;
  color: black;
}

/* active (faded) */
.nav-pills .nav-item .nav-link {
  background-color: black;
  color: white;
}
